<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= locals.title %> | Members Only (The Odin Project)</title>
<meta
  name="description"
  content='"An exclusive clubhouse where your members can write anonymous posts. Inside the clubhouse, members can see who the author of a post is, but outside they can only see the story and wonder who wrote it."'
/>
<link rel="stylesheet" href="reset.css" />
<link rel="stylesheet" href="style.css" />
