<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "Home" }) %>
    <link rel="stylesheet" href="/messages.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <main>
      <a href="/clubs" class="styled">clubs</a>
      <% if (locals.user && user.club_id != null) { %>
      <a href="/clubs/<%= user.club_id %>/message" class="styled"
        >new message</a
      >
      <% } %>
      <%- include('partials/messages') %>
    </main>
  </body>
</html>
