<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "Home" }) %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <main>
      <a href="/clubs" class="styled">clubs</a>
    </main>
  </body>
</html>
