<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "Home" }) %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <% if (locals.user) { %>
    <h2><%= user.username %></h2>
    <% } else { %>
    <h2>not logged in</h2>
    <% } %>
  </body>
</html>
