<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "" }) %>
    <link rel="stylesheet" href="/messages.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <main>
      <%- include('partials/messages') %>
    </main>
  </body>
</html>
